<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/header :: head">
    <html xmlns:th="http://www.thymeleaf.org">
    <title>Lista de pessoas</title>
</head>
<body>
	<div class="container col-lg-10 spacer">
		<div th:replace="fragments/barraNavegacao"></div>
		<form
			th:object="${pessoaDto}"
			action="/pessoa/save"
			class="card-body"
			method="POST"
		>
			<h1 style="margin-bottom: 1em;">Cadastro de nova pessoa</h1>
			<div class="form-outline mb-4">
				<input type="text" id="nome" name="nome" class="form-control" th:field="*{nome}"/>
				<label class="form-label" for="nome">Informe seu nome</label>
			</div>
		
			<div class="form-outline mb-4">
				<input type="text" id="CPF" name="CPF" class="form-control" th:field="*{CPF}" data-inputmask-mask="999.999.999-99" />
				<label class="form-label" for="CPF">Informe seu CPF</label>
			</div>

			<div class="form-outline mb-4">
				<input type="date" id="dataNascimento" name="dataNascimento" class="form-control" th:field="*{dataNascimento}" />
				<label class="form-label" for="dataNascimento">Informe sua data de nascimento</label>
			</div>						
			
			<div class="form-outline mb-4">
				<div class="form-check">
					<input type="radio" class="form-check-input" id="radio1" name="sexo" value="masc" checked th:field="*{sexo}">Masculino
					<label class="form-check-label" for="radio1"></label>
				  </div>
				  <div class="form-check">
					<input type="radio" class="form-check-input" id="radio2" name="sexo" value="fem" th:field="*{sexo}">Feminino
					<label class="form-check-label" for="radio2"></label>
				  </div>
				  <div class="form-check">
					<input type="radio" class="form-check-input"id="radio3" name="sexo" value="outro" th:field="*{sexo}">Outro
					<label class="form-check-label"></label>
				  </div> 				  
			</div>						

			<button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
		</form>
	</div>
	<div style="margin-left: 15em; margin-top: 5em;">
		<p><a href="/">Inicio</a></p>
	</div>
</body>
</html>