<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/header :: head">
    <html xmlns:th="http://www.thymeleaf.org">      
    <title>Lista de pessoas</title>
</head>
<body>    
    <div class="container">
      <div th:replace="fragments/barraNavegacao"></div>
        <h1 style="margin-bottom: 1em;">Lista de pessoas</h1>        

        <table class="table table-hover">
            <thead class="table-dark">
              <th>Código</th>
              <th>Nome</th>
              <th>CPF</th>
              <th>Ações</th>
            </thead>
            <tbody>
              <th:block th:each="pessoa : ${pessoas}">
                <tr>
                  <td th:text="${pessoa.codigo}"></td>
                  <td th:text="${pessoa.nome}"></td>
                  <td th:text="${pessoa.CPF}"></td>
                  <td>
                    <a 
                      data-bs-toggle="modal"
                      th:data-codigo-pessoa="${pessoa.codigo}"
                      onclick="excluirPessoa(this)"
                      name="excluir"
                      class="btn btn-danger btn-sm"
                    >Excluir</a>                
                    <a th:replace="fragments/header :: head" class="btn btn-primary btn-sm">Editar</a>
                    <a th:href="@{'/contato/listar/' + ${pessoa.codigo}}" class="btn btn-success btn-sm mb-1 mt-1">Contatos</a>                    
                    <a th:href="@{'/endereco/listar/' + ${pessoa.codigo}}" class="btn btn-success btn-sm mb-1 mt-1">Endereços</a>                    
                  </td>
                </tr>          
              </th:block>
            </tbody>
          </table>
          <div class="m-2">
            <a href="/pessoa/cadastro" class="btn btn-secondary btn-sm">Cadastrar pessoa</a>
          </div>
    </div>
    <script>
      function excluirPessoa(e){
        console.log(e);
        console.log(e.dataset.codigoPessoa);
        $.ajax({
          url: '/pessoa/delete/'+e.dataset.codigoPessoa,
          type: 'PUT',
          success: function(response) {
            console.log("Resposta ajax");
            console.log(response);
          }
        });        

      }
    </script>
    
</body>
</html>