<ul class="nav flex-column nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/home">Link para lugar nenhum</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pessoa/listar">Ver pessoas</a>
    </li>
    <li><a class="dropdown-item" th:href="@{/logout}">Sair</a></li>
  </ul>