<!DOCTYPE html>
<html>
<head th:include="fragments/header :: head">
    <html xmlns:th="http://www.thymeleaf.org">
    <title>Opa, temos um problema</title>
</head>    
<body>

<div class="container flex-column d-flex align-items-center mt-5">
    <div class="container flex-column d-flex align-items-center">
        <div class="alert alert-warning" role="alert">
            <h4>Esta pagina não foi encontrada! </h4>
        <div class="text-center">
            <a href="/">Ir para o inicio</a>
        </div>
    </div>        
</div>
</body>
</html>