<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: head">    
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>    
    <div class="container">
		<div th:replace="fragments/barraNavegacao"></div>
		<div class="container col-lg-10 spacer">
			<form
				th:object="${contatoDto}"
				action="/contato/save"
				class="card-body"
				method="POST"
			>
				<h1 style="margin-bottom: 1em;">Cadastro de novo contato</h1>
				<div class="form-outline mb-4">
					<input type="text" id="email" name="email" required class="form-control"  pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.com" th:field="*{email}"/>
					<label class="form-label" for="email">Informe seu email</label>
				</div>
			
				<div class="form-outline mb-4">
					<input type="text" id="telefone" name="telefone" class="form-control" th:field="*{telefone}" />
					<label class="form-label" for="telefone">Informe seu telefone</label>
				</div>		
				
				<input class="form-control"
					type="hidden"
					th:value="${pessoaCodigo}" id="pessoa" name="pessoa" />
				<input type="hidden" id="codigo" name="codigo" class="form-control" th:field="*{codigo}" />

				<button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
			</form>
		</div>
	</div>
	<script>		
		$(document).ready(function() {			
			// $("#email").mask('^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.com');
			$("#telefone").mask("(99)99999-9999");
			
		});
	</script>
</body>
</html>