<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/header :: head">
    <html xmlns:th="http://www.thymeleaf.org">
    <title>Lista de contatos</title>
</head>
<body>    
    <div class="container">
        <h1 style="margin-bottom: 1em;">Lista de contatos</h1>

        <table class="table table-hover">
            <thead class="table-dark">
              <th>Código</th>
              <th>Pessoa</th>
              <th>Email</th>
              <th>Telefone</th>
              <th>Ações</th>
            </thead>
            <tbody>
              <th:block th:each="contato : ${contatos}">
                <tr>
                  <td th:text="${contato.codigo}"></td>
                  <td th:text="${contato.pessoa}"></td>
                  <td th:text="${contato.telefone}"></td>
                  <td th:text="${contato.email}"></td>                  
                  <td>
                    <a 
                      data-bs-toggle="modal" 
                      th:attr="data-bs-target='#modal-delete'+${contato.codigo}"
                      class="btn btn-danger btn-sm"
                    >Excluir</a>                
                    <a th:replace="fragments/header :: head" class="btn btn-primary btn-sm">Editar</a>
                    <a th:href="@{'/contato/cadastro/' + ${contato.codigo}}" class="btn btn-secondary btn-sm">Contatos</a>
                    <a th:href="@{'/endereco/cadastro/' + ${contato.codigo}}" class="btn btn-success btn-sm">Endereços</a>
                  </td>
                </tr>
                <!-- Modal exluir -->
                <div class="modal modal-delete" th:codigo="modal-delete+${contato.codigo}">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 codigo="delModalLabel">Excluir</h5>
                          </div>
                          <div class="modal-body">
                              O usuário será excluido, confirma esta ação?
                          </div>
                          <div class="modal-footer">
                            <a th:href="@{'/contato/delete/' + ${contato.codigo}}" class="btn btn-success btn-sm">Confirmar</a>
                              <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                          </div>
                      </div>
                  </div>
                </div>            
              </th:block>
            </tbody>
          </table>
          <a th:href="@{'/contato/cadastro/' + ${pessoaCodigo}}" class="btn btn-secondary btn-sm">Cadastrar contato</a>

          <p><a href="/">Inicio</a></p>
    </div>
    
</body>
</html>